[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "saeHB.twofold"]
	path = saeHB.twofold
	url = https://github.com/reymath99/saehb.twofold
